## 3가지 데이터 join

In [ ]:
import pandas as pd

articles = pd.read_csv('./data/cleaned_articles_hm.csv') # Article_Id
customer = pd.read_csv('./data/cleaned_customer_hm.csv') # Customer_Id
transactions = pd.read_csv('./data/cleaned_transactions_hm.csv') # 메인 테이블

In [3]:
merged_df = transactions.merge(articles, on='Article_Id', how='inner') \
                        .merge(customer, on='Customer_Id', how='inner')
merged_df.head()

,T_Dat,Customer_Id,Article_Id,Price,Sales_Channel_Id,Year,Month,Day_name,Revenue,Sales_Channel_Name,...,Index_Info,Index_Group_Info,Section_Info,Garment_Group_Info,FN,Active,Club_Member_Status,Fashion_News_Frequency,Age,Age_Group
0,2019-11-05,3e2b60b679e62fb49516105b975560082922011dd752ec...,698328010,0.016932,2,2019,11,Tuesday,16932,Offline,...,Divided (D),Divided (2),Divided Collection (53),Jersey Fancy (1005),1,1,Active,Regularly,51,50
1,2019-05-22,89647ac2274f54c770aaa4b326e0eea09610c252381f37...,760597002,0.033881,2,2019,5,Wednesday,33881,Offline,...,Ladieswear (A),Ladieswear (1),Womens Casual (6),Jersey Fancy (1005),0,0,Active,NaN,28,20
2,2019-05-10,2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...,488561032,0.016932,2,2019,5,Friday,16932,Offline,...,Menswear (F),Menswear (3),Contemporary Casual (21),Shorts (1025),1,1,Active,Regularly,37,30
3,2019-08-26,7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...,682771001,0.033881,2,2019,8,Monday,33881,Offline,...,Ladies Accessories (C),Ladieswear (1),Womens Big accessories (65),Accessories (1019),0,0,Active,NaN,19,10
4,2019-08-10,3b77905de8b32045f08cedb79200cdfa477e9562429a39...,742400033,0.003220,1,2019,8,Saturday,3220,Online,...,Menswear (F),Menswear (3),Men Underwear (26),Socks and Tights (1021),0,0,Active,NaN,35,30

In [4]:
merged_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 804149 entries, 0 to 804148
Data columns (total 27 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   T_Dat                         804149 non-null  str
 1   Customer_Id                   804149 non-null  str
 2   Article_Id                    804149 non-null  int64
 3   Price                         804149 non-null  float64
 4   Sales_Channel_Id              804149 non-null  int64
 5   Year                          804149 non-null  int64
 6   Month                         804149 non-null  int64
 7   Day_name                      804149 non-null  str
 8   Revenue                       804149 non-null  int64
 9   Sales_Channel_Name            804149 non-null  str
 10  Product_Code                  804149 non-null  int64
 11  Prod_Name                     804149 non-null  str
 12  Product_Type_Info             804149 non-null  str
 13  Product_Group_Name            804149 non-null  str
 14  Graphical_Appearance_Info     804149 non-null  str
 15  Perceived_Colour_Master_Info  804149 non-null  str
 16  Department_Info               804149 non-null  str
 17  Index_Info                    804149 non-null  str
 18  Index_Group_Info              804149 non-null  str
 19  Section_Info                  804149 non-null  str
 20  Garment_Group_Info            804149 non-null  str
 21  FN                            804149 non-null  int64
 22  Active                        804149 non-null  int64
 23  Club_Member_Status            804149 non-null  str
 24  Fashion_News_Frequency        347984 non-null  str
 25  Age                           804149 non-null  int64
 26  Age_Group                     804149 non-null  int64
dtypes: float64(1), int64(10), str(16)
memory usage: 165.6 MB

In [5]:
merged_df.shape

(804149, 27)

## (804149, 27)

In [6]:
merged_df.isna().sum()

T_Dat                                0
Customer_Id                          0
Article_Id                           0
Price                                0
Sales_Channel_Id                     0
Year                                 0
Month                                0
Day_name                             0
Revenue                              0
Sales_Channel_Name                   0
Product_Code                         0
Prod_Name                            0
Product_Type_Info                    0
Product_Group_Name                   0
Graphical_Appearance_Info            0
Perceived_Colour_Master_Info         0
Department_Info                      0
Index_Info                           0
Index_Group_Info                     0
Section_Info                         0
Garment_Group_Info                   0
FN                                   0
Active                               0
Club_Member_Status                   0
Fashion_News_Frequency          456165
Age                                  0
Age_Group                            0
dtype: int64

In [7]:
merged_df['Fashion_News_Frequency'] = merged_df['Fashion_News_Frequency'].fillna('None')

merged_df.head()

,T_Dat,Customer_Id,Article_Id,Price,Sales_Channel_Id,Year,Month,Day_name,Revenue,Sales_Channel_Name,...,Index_Info,Index_Group_Info,Section_Info,Garment_Group_Info,FN,Active,Club_Member_Status,Fashion_News_Frequency,Age,Age_Group
0,2019-11-05,3e2b60b679e62fb49516105b975560082922011dd752ec...,698328010,0.016932,2,2019,11,Tuesday,16932,Offline,...,Divided (D),Divided (2),Divided Collection (53),Jersey Fancy (1005),1,1,Active,Regularly,51,50
1,2019-05-22,89647ac2274f54c770aaa4b326e0eea09610c252381f37...,760597002,0.033881,2,2019,5,Wednesday,33881,Offline,...,Ladieswear (A),Ladieswear (1),Womens Casual (6),Jersey Fancy (1005),0,0,Active,None,28,20
2,2019-05-10,2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...,488561032,0.016932,2,2019,5,Friday,16932,Offline,...,Menswear (F),Menswear (3),Contemporary Casual (21),Shorts (1025),1,1,Active,Regularly,37,30
3,2019-08-26,7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...,682771001,0.033881,2,2019,8,Monday,33881,Offline,...,Ladies Accessories (C),Ladieswear (1),Womens Big accessories (65),Accessories (1019),0,0,Active,None,19,10
4,2019-08-10,3b77905de8b32045f08cedb79200cdfa477e9562429a39...,742400033,0.003220,1,2019,8,Saturday,3220,Online,...,Menswear (F),Menswear (3),Men Underwear (26),Socks and Tights (1021),0,0,Active,None,35,30

In [8]:
merged_df.isna().sum()

T_Dat                           0
Customer_Id                     0
Article_Id                      0
Price                           0
Sales_Channel_Id                0
Year                            0
Month                           0
Day_name                        0
Revenue                         0
Sales_Channel_Name              0
Product_Code                    0
Prod_Name                       0
Product_Type_Info               0
Product_Group_Name              0
Graphical_Appearance_Info       0
Perceived_Colour_Master_Info    0
Department_Info                 0
Index_Info                      0
Index_Group_Info                0
Section_Info                    0
Garment_Group_Info              0
FN                              0
Active                          0
Club_Member_Status              0
Fashion_News_Frequency          0
Age                             0
Age_Group                       0
dtype: int64