In [18]:
import pandas as pd
df = pd.read_csv("../../main/h&m_dataset/customer_hm.csv")
df.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0,0,ACTIVE,NONE,49
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0,0,ACTIVE,NONE,25
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0,0,ACTIVE,NONE,24
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0,0,ACTIVE,NONE,54
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1,1,ACTIVE,Regularly,52

In [124]:
import pandas as pd
df1 = pd.read_csv("../../main/h&m_dataset/transactions_hm.csv")
df1.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2019-11-05,3e2b60b679e62fb49516105b975560082922011dd752ec...,698328010,0.016932,2
1,2019-05-22,89647ac2274f54c770aaa4b326e0eea09610c252381f37...,760597002,0.033881,2
2,2019-05-10,2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...,488561032,0.016932,2
3,2019-08-26,7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...,682771001,0.033881,2
4,2019-08-10,3b77905de8b32045f08cedb79200cdfa477e9562429a39...,742400033,0.003220,1

In [20]:
import pandas as pd
df2 = pd.read_csv("../../main/h&m_dataset/articles_hm.csv")
df2.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [21]:
df.shape

(1048575, 6)

In [23]:
df1.shape

(1048575, 5)

In [24]:
df2.shape

(105542, 25)

In [22]:
df.columns.tolist()

['customer_id',
 'FN',
 'Active',
 'club_member_status',
 'fashion_news_frequency',
 'age']

In [25]:
df1.columns.tolist()

['t_dat', 'customer_id', 'article_id', 'price', 'sales_channel_id']

In [26]:
df2.columns.tolist()

['article_id',
 'product_code',
 'prod_name',
 'product_type_no',
 'product_type_name',
 'product_group_name',
 'graphical_appearance_no',
 'graphical_appearance_name',
 'colour_group_code',
 'colour_group_name',
 'perceived_colour_value_id',
 'perceived_colour_value_name',
 'perceived_colour_master_id',
 'perceived_colour_master_name',
 'department_no',
 'department_name',
 'index_code',
 'index_name',
 'index_group_no',
 'index_group_name',
 'section_no',
 'section_name',
 'garment_group_no',
 'garment_group_name',
 'detail_desc']

In [27]:
df.dtypes

customer_id                 str
FN                        int64
Active                    int64
club_member_status          str
fashion_news_frequency      str
age                       int64
dtype: object

In [28]:
df1.dtypes

t_dat                   str
customer_id             str
article_id            int64
price               float64
sales_channel_id      int64
dtype: object

In [29]:
df2.dtypes

article_id                      int64
product_code                    int64
prod_name                         str
product_type_no                 int64
product_type_name                 str
product_group_name                str
graphical_appearance_no         int64
graphical_appearance_name         str
colour_group_code               int64
colour_group_name                 str
perceived_colour_value_id       int64
perceived_colour_value_name       str
perceived_colour_master_id      int64
perceived_colour_master_name      str
department_no                   int64
department_name                   str
index_code                        str
index_name                        str
index_group_no                  int64
index_group_name                  str
section_no                      int64
section_name                      str
garment_group_no                int64
garment_group_name                str
detail_desc                       str
dtype: object

In [39]:
customers = df.copy()

In [40]:
customers["customer_id"].isna().sum()

np.int64(0)

In [41]:
customers.duplicated(subset=["customer_id"]).sum()

np.int64(0)

In [44]:
na_cnt = customers.isna().sum().sort_values(ascending=False)
print("\n 결측치 많은 순:\n", na_cnt.head(10))

 결측치 많은 순:
 fashion_news_frequency    1
customer_id               0
FN                        0
Active                    0
club_member_status        0
age                       0
dtype: int64

In [45]:
print("\n FN 값 분포:\n", customers["FN"].value_counts(dropna=False))
print("\n Active 값 분포:\n", customers["Active"].value_counts(dropna=False))
print("\n club_member_status 값 분포 TOP:\n", customers["club_member_status"].value_counts(dropna=False).head(10))
print("\n fashion_news_frequency 값 분포 TOP:\n", customers["fashion_news_frequency"].value_counts(dropna=False).head(10))

 FN 값 분포:
 FN
0    675765
1    372810
Name: count, dtype: int64

 Active 값 분포:
 Active
0    685629
1    362946
Name: count, dtype: int64

 club_member_status 값 분포 TOP:
 club_member_status
ACTIVE        982635
PRE-CREATE     65581
LEFT CLUB        359
Name: count, dtype: int64

 fashion_news_frequency 값 분포 TOP:
 fashion_news_frequency
NONE         674698
Regularly    373218
Monthly         658
NaN               1
Name: count, dtype: int64

In [46]:
for col in ["club_member_status", "fashion_news_frequency"]:
    customers[col] = customers[col].astype("string").str.strip()

In [47]:
customers["club_member_status"] = customers["club_member_status"].str.upper()

In [ ]:
print("\n 정리 후 club_member_status:\n", customers["club_member_status"].value_counts(dropna=False).head(10))
print("\n 정리 후 fashion_news_frequency:\n", customers["fashion_news_frequency"].value_counts(dropna=False).head(10))

 정리 후 club_member_status:
 club_member_status
ACTIVE        982635
PRE-CREATE     65581
LEFT CLUB        359
Name: count, dtype: Int64

 정리 후 fashion_news_frequency:
 fashion_news_frequency
NONE         674698
Regularly    373218
Monthly         658
<NA>              1
Name: count, dtype: Int64

In [ ]:
customers["age"] = pd.to_numeric(customers["age"], errors="coerce")  # 숫자 아닌 건 NaN
print("\nage 결측:", customers["age"].isna().sum())
customers["age"].describe()

age 결측: 0

count    1.048575e+06
mean     3.636919e+01
std      1.430899e+01
min      1.600000e+01
25%      2.400000e+01
50%      3.200000e+01
75%      4.900000e+01
max      9.900000e+01
Name: age, dtype: float64

In [ ]:
print("\nage <= 0:", (customers["age"] <= 0).sum())
print("age >= 100:", (customers["age"] >= 100).sum())

age <= 0: 0
age >= 100: 0

In [61]:
customers["customer_id"] = customers["customer_id"].astype(str)

In [62]:
customers["club_member_status"] = (
    customers["club_member_status"]
    .astype(str)
    .str.strip()
    .str.upper()
)

In [63]:
customers["fashion_news_frequency"] = (
    customers["fashion_news_frequency"]
    .fillna("NONE")
    .astype(str)
    .str.strip()
)

In [64]:
print(customers["club_member_status"].value_counts(dropna=False))
print(customers["fashion_news_frequency"].value_counts(dropna=False))

club_member_status
ACTIVE        982635
PRE-CREATE     65581
LEFT CLUB        359
Name: count, dtype: int64
fashion_news_frequency
NONE         674699
Regularly    373218
Monthly         658
Name: count, dtype: int64

In [74]:
customers["is_fn_subscriber"] = customers["FN"].astype(int) == 1
customers["is_active"] = customers["Active"].astype(int) == 1

In [75]:
customers["fn_label"] = customers["is_fn_subscriber"].map({True: "구독", False: "미구독"})
customers["active_label"] = customers["is_active"].map({True: "활성", False: "비활성"})

In [76]:
print(customers[["FN","is_fn_subscriber","fn_label","Active","is_active","active_label"]].head())
print("\n[FN 분포]")
print(customers["fn_label"].value_counts())
print("\n[Active 분포]")
print(customers["active_label"].value_counts())

   FN  is_fn_subscriber fn_label  Active  is_active active_label
0   0             False      미구독       0      False          비활성
1   0             False      미구독       0      False          비활성
2   0             False      미구독       0      False          비활성
3   0             False      미구독       0      False          비활성
4   1              True       구독       1       True           활성

[FN 분포]
fn_label
미구독    675765
구독     372810
Name: count, dtype: int64

[Active 분포]
active_label
비활성    685629
활성     362946
Name: count, dtype: int64

In [78]:

# 1) FN 라벨 (0/1 -> 미구독/구독)
customers["fn_label"] = customers["FN"].map({0: "미구독", 1: "구독"})

# 2) Active 라벨 (0/1 -> 비활성/활성)
customers["active_label"] = customers["Active"].map({0: "비활성", 1: "활성"})

customers.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,is_fn_subscriber,is_active,fn_label,active_label
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0,0,ACTIVE,NONE,49,False,False,미구독,비활성
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0,0,ACTIVE,NONE,25,False,False,미구독,비활성
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0,0,ACTIVE,NONE,24,False,False,미구독,비활성
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0,0,ACTIVE,NONE,54,False,False,미구독,비활성
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1,1,ACTIVE,Regularly,52,True,True,구독,활성

In [71]:
customers.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,is_fn_subscriber,is_active,fn_label,active_label
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0,0,ACTIVE,NONE,49,False,False,미구독,비활성
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0,0,ACTIVE,NONE,25,False,False,미구독,비활성
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0,0,ACTIVE,NONE,24,False,False,미구독,비활성
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0,0,ACTIVE,NONE,54,False,False,미구독,비활성
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1,1,ACTIVE,Regularly,52,True,True,구독,활성

In [125]:
print("t_dat min:", df1["t_dat"].min())
print("t_dat max:", df1["t_dat"].max())

print("\n[sales_channel_id 분포]")
print(df1["sales_channel_id"].value_counts(dropna=False))

t_dat min: 2019-01-01
t_dat max: 2019-12-31

[sales_channel_id 분포]
sales_channel_id
2    729192
1    319383
Name: count, dtype: int64

In [126]:
df1.isna().sum()

# 필수 컬럼 하나라도 비면 제거
before = len(df1)
df1 = df1.dropna(subset=["t_dat","customer_id","article_id","price","sales_channel_id"]).copy()
after = len(df1)

print(f"\n필수 컬럼 결측 제거: {before} -> {after} (삭제 {before-after}행)")

필수 컬럼 결측 제거: 1048575 -> 1048575 (삭제 0행)

In [127]:
dup_all = df1.duplicated().sum()
print("완전 동일 행 중복 개수:", dup_all)

완전 동일 행 중복 개수: 8474

In [128]:
df1 = df1.drop_duplicates().copy()

In [ ]:
print("price <= 0 개수:", (df1["price"] <= 0).sum())

# 0 이하 가격은 거래로 보기 어려우니 제거 추천
df1 = df1[df1["price"] > 0].copy()

q = df1["price"].quantile([0.5, 0.9, 0.99, 0.999])
print("\n[price 분위수]\n", q)
print("\nprice max:", df1["price"].max())

price <= 0 개수: 0

[price 분위수]
 0.500    0.025407
0.900    0.050831
0.990    0.101678
0.999    0.167797
Name: price, dtype: float64

price max: 0.506779661

In [130]:
df1["channel_label"] = df1["sales_channel_id"].map({1: "오프라인", 2: "온라인"})

print(df1["channel_label"].value_counts(dropna=False))

channel_label
온라인     721488
오프라인    318613
Name: count, dtype: int64

In [ ]:
# 1) t_dat을 날짜형(datetime)으로 변환
df1["t_dat"] = pd.to_datetime(df1["t_dat"], errors="coerce")

# 2) Nat 생겼는지 확인
print("t_dat NaT 개수:", df1["t_dat"].isna().sum())

# 3) 타입 확인
print(df1["t_dat"].dtype)

# 4) 혹시 NaT가 생기면 제거
df1 = df1.dropna(subset=["t_dat"]).copy()

t_dat NaT 개수: 0
datetime64[us]

In [132]:
df1["year_month"] = df1["t_dat"].dt.to_period("M").astype(str)
df1[["t_dat","year_month","customer_id","article_id","price","channel_label"]].head()

,t_dat,year_month,customer_id,article_id,price,channel_label
0,2019-11-05,2019-11,3e2b60b679e62fb49516105b975560082922011dd752ec...,698328010,0.016932,온라인
1,2019-05-22,2019-05,89647ac2274f54c770aaa4b326e0eea09610c252381f37...,760597002,0.033881,온라인
2,2019-05-10,2019-05,2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...,488561032,0.016932,온라인
3,2019-08-26,2019-08,7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...,682771001,0.033881,온라인
4,2019-08-10,2019-08,3b77905de8b32045f08cedb79200cdfa477e9562429a39...,742400033,0.003220,오프라인

In [133]:
df1.head()

,t_dat,customer_id,article_id,price,sales_channel_id,channel_label,year_month
0,2019-11-05,3e2b60b679e62fb49516105b975560082922011dd752ec...,698328010,0.016932,2,온라인,2019-11
1,2019-05-22,89647ac2274f54c770aaa4b326e0eea09610c252381f37...,760597002,0.033881,2,온라인,2019-05
2,2019-05-10,2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...,488561032,0.016932,2,온라인,2019-05
3,2019-08-26,7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...,682771001,0.033881,2,온라인,2019-08
4,2019-08-10,3b77905de8b32045f08cedb79200cdfa477e9562429a39...,742400033,0.003220,1,오프라인,2019-08

data_last_date: 2019-12-31 00:00:00
customer_summary shape: (458235, 6)

,customer_id,total_spend,num_purchases,last_purchase_date,aov,recency_days
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0.105051,2,2019-09-28,0.052525,94
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0.199898,6,2019-08-12,0.033316,141
2,000064249685c11552da43ef22a5030f35a147f723d5b0...,0.042356,1,2019-10-02,0.042356,90
3,0000757967448a6cb83efb3ea7a3fb9d418ac7adf2379d...,0.025407,1,2019-06-04,0.025407,210
4,00007d2de826758b65a93dd24ce629ed66842531df6699...,0.324034,7,2019-11-24,0.046291,37

,customer_id,total_spend,num_purchases,last_purchase_date,aov,recency_days
count,458235,458235.000000,458235.000000,458235,458235.000000,458235.000000
unique,458235,NaN,NaN,NaN,NaN,NaN
top,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN
mean,NaN,0.063061,2.269798,2019-07-31 19:55:56.111165,0.027425,152.169489
min,NaN,0.000339,1.000000,2019-01-01 00:00:00,0.000339,0.000000
25%,NaN,0.022017,1.000000,2019-05-19 00:00:00,0.016932,64.000000
50%,NaN,0.040661,1.000000,2019-08-04 00:00:00,0.025407,149.000000
75%,NaN,0.076237,3.000000,2019-10-28 00:00:00,0.033881,226.000000
max,NaN,1.961881,59.000000,2019-12-31 00:00:00,0.506780,364.000000
std,NaN,0.072366,2.143803,NaN,0.016358,100.524268

In [135]:
customer_summary[["total_spend","num_purchases","aov","recency_days"]].describe().T

,count,mean,std,min,25%,50%,75%,max
total_spend,458235.0,0.063061,0.072366,0.000339,0.022017,0.040661,0.076237,1.961881
num_purchases,458235.0,2.269798,2.143803,1.000000,1.000000,1.000000,3.000000,59.000000
aov,458235.0,0.027425,0.016358,0.000339,0.016932,0.025407,0.033881,0.506780
recency_days,458235.0,152.169489,100.524268,0.000000,64.000000,149.000000,226.000000,364.000000

In [136]:
customer_summary["last_purchase_date"].agg(["min","max"])

min   2019-01-01
max   2019-12-31
Name: last_purchase_date, dtype: datetime64[us]

In [137]:
customer_summary.isna().sum()

customer_id           0
total_spend           0
num_purchases         0
last_purchase_date    0
aov                   0
recency_days          0
dtype: int64

In [138]:
q80 = customer_summary["total_spend"].quantile(0.8)
q20 = customer_summary["total_spend"].quantile(0.2)

customer_summary["segment"] = "Others"
customer_summary.loc[customer_summary["total_spend"] >= q80, "segment"] = "Top20"
customer_summary.loc[customer_summary["total_spend"] <= q20, "segment"] = "Bottom20"

customer_summary["segment"].value_counts()

segment
Others      274450
Bottom20     92115
Top20        91670
Name: count, dtype: int64

In [139]:

df1["t_dat"] = pd.to_datetime(df1["t_dat"], errors="coerce")

# 혹시 변환 실패(NaT) 있나 확인
print("t_dat NaT 개수:", df1["t_dat"].isna().sum())
print("기간:", df1["t_dat"].min(), "~", df1["t_dat"].max())

t_dat NaT 개수: 0
기간: 2019-01-01 00:00:00 ~ 2019-12-31 00:00:00

In [140]:
customer_channel_summary = (
    df1.groupby(["customer_id", "channel_label"])
       .agg(
           channel_spend=("price", "sum"),
           channel_purchases=("price", "size")  # 행 개수 = 구매건수
       )
       .reset_index()
)

customer_channel_summary.head()

,customer_id,channel_label,channel_spend,channel_purchases
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,온라인,0.105051,2
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,온라인,0.199898,6
2,000064249685c11552da43ef22a5030f35a147f723d5b0...,온라인,0.042356,1
3,0000757967448a6cb83efb3ea7a3fb9d418ac7adf2379d...,온라인,0.025407,1
4,00007d2de826758b65a93dd24ce629ed66842531df6699...,온라인,0.324034,7

In [141]:
customer_channel_summary = customer_channel_summary.merge(
    customer_summary[["customer_id", "total_spend", "segment"]],
    on="customer_id",
    how="left"
)

customer_channel_summary["channel_share"] = (
    customer_channel_summary["channel_spend"] / customer_channel_summary["total_spend"]
)

customer_channel_summary.head()

,customer_id,channel_label,channel_spend,channel_purchases,total_spend,segment,channel_share
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,온라인,0.105051,2,0.105051,Top20,1.0
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,온라인,0.199898,6,0.199898,Top20,1.0
2,000064249685c11552da43ef22a5030f35a147f723d5b0...,온라인,0.042356,1,0.042356,Others,1.0
3,0000757967448a6cb83efb3ea7a3fb9d418ac7adf2379d...,온라인,0.025407,1,0.025407,Others,1.0
4,00007d2de826758b65a93dd24ce629ed66842531df6699...,온라인,0.324034,7,0.324034,Top20,1.0

In [142]:
customer_channel_summary["channel_label"].value_counts(dropna=False)
customer_channel_summary.groupby("customer_id")["channel_label"].nunique().value_counts().head(10)

channel_label
1    390230
2     68005
Name: count, dtype: int64

In [143]:
# 1)
wide = (
    customer_channel_summary
    .pivot_table(
        index="customer_id",
        columns="channel_label",
        values=["channel_spend", "channel_purchases"],
        aggfunc="sum",
        fill_value=0
    )
)

# 2) 컬럼 이름 깔끔하게 만들기
wide.columns = [f"{v}_{k}" for v, k in wide.columns]  
wide = wide.reset_index()

wide.head()

,customer_id,channel_purchases_오프라인,channel_purchases_온라인,channel_spend_오프라인,channel_spend_온라인
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0,2,0.0,0.105051
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0,6,0.0,0.199898
2,000064249685c11552da43ef22a5030f35a147f723d5b0...,0,1,0.0,0.042356
3,0000757967448a6cb83efb3ea7a3fb9d418ac7adf2379d...,0,1,0.0,0.025407
4,00007d2de826758b65a93dd24ce629ed66842531df6699...,0,7,0.0,0.324034

In [144]:
wide = wide.merge(
    customer_summary[["customer_id","total_spend","segment"]],
    on="customer_id",
    how="left"
)

wide["online_share"]  = wide["channel_spend_온라인"]  / wide["total_spend"]
wide["offline_share"] = wide["channel_spend_오프라인"] / wide["total_spend"]

In [145]:
wide.groupby("segment")["online_share"].mean().sort_values(ascending=False)

segment
Top20       0.804443
Others      0.641639
Bottom20    0.507298
Name: online_share, dtype: float64