# customer_hm

In [1]:
import pandas as pd
customer = pd.read_csv("../../main/h&m_dataset/customer_hm.csv")
customer.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0,0,ACTIVE,NONE,49
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0,0,ACTIVE,NONE,25
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0,0,ACTIVE,NONE,24
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0,0,ACTIVE,NONE,54
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1,1,ACTIVE,Regularly,52

## Prepare

In [2]:
customer.info()

<class 'pandas.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   customer_id             1048575 non-null  str
 1   FN                      1048575 non-null  int64
 2   Active                  1048575 non-null  int64
 3   club_member_status      1048575 non-null  str
 4   fashion_news_frequency  1048574 non-null  str
 5   age                     1048575 non-null  int64
dtypes: int64(3), str(3)
memory usage: 48.0 MB

In [3]:
customer.shape

(1048575, 6)

In [4]:
na_c = customer.isna().sum().sort_values(ascending=False) 
na_c.head(3)

fashion_news_frequency    1
customer_id               0
FN                        0
dtype: int64

In [5]:
customer["age"].describe().T[["min", "max"]]

min    16.0
max    99.0
Name: age, dtype: float64

In [6]:
customer["FN"].value_counts(dropna=False)

FN
0    675765
1    372810
Name: count, dtype: int64

In [7]:
customer["Active"].value_counts(dropna=False)

Active
0    685629
1    362946
Name: count, dtype: int64

In [8]:
customer["club_member_status"].value_counts(dropna=False)

club_member_status
ACTIVE        982635
PRE-CREATE     65581
LEFT CLUB        359
Name: count, dtype: int64

In [9]:
customer["fashion_news_frequency"].value_counts(dropna=False)

fashion_news_frequency
NONE         674698
Regularly    373218
Monthly         658
NaN               1
Name: count, dtype: int64

In [10]:
customer["customer_id"].duplicated().sum()
# 행수가 transactions과 동일해서 중복가능성을 염두 했으나 중복행은 존재하지 않음
# 고객 테이블은 customer_id 기준으로 중복이 존재하지 않음을 확인하였다.

np.int64(0)

## 고객 1명당 1행으로 구성된 고객 특성 테이블
- 직접적인 매출 정보가 없기 때문에 거래 데이터와의 결합이 필요

## Prepare 결과
- customer_id                   # 식별자 (조인 키)
- FN                            # 패션 뉴스 수신 여부
- Active                        # 활성 고객 여부
- club_member_status            # 클럽 가입 상태 (신규 / 활성 / 탈퇴)
- fashion_news_frequency        # 뉴스 알림 주기
- age                           # 연령대 분석



### 결측치 여부
- fashion_news_frequency에 결측치가 1개 존재

### 형변환
- FN, Active의 값은 0/1 로 구성되어 있다. 불리언(참/거짓)으로 분리

### 중복여부

### 이상치 여부
데이터 내에서 age의 범위는 16~99로 정상범주에 속한다 볼수 있다. <br>
튀는 값 자체는 존재하나 아직 전처리 초기 단계이고 값들이 상식선 안에 있기 때문에 유지한다.

# 데이터 전처리

In [11]:
cust = customer.copy()
cust.info()

<class 'pandas.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   customer_id             1048575 non-null  str
 1   FN                      1048575 non-null  int64
 2   Active                  1048575 non-null  int64
 3   club_member_status      1048575 non-null  str
 4   fashion_news_frequency  1048574 non-null  str
 5   age                     1048575 non-null  int64
dtypes: int64(3), str(3)
memory usage: 48.0 MB

In [12]:
print("FN 1/0비율")
print(cust["FN"].value_counts(dropna=False))

print("\nActive 1/0비율")
print(cust["Active"].value_counts(dropna=False))

FN 1/0비율
FN
0    675765
1    372810
Name: count, dtype: int64

Active 1/0비율
Active
0    685629
1    362946
Name: count, dtype: int64

In [13]:
# FN, Active .map()을 사용해 형 변환
cust["FN"] = (cust["FN"]
                        .map({
                            1: True,
                            0: False})
                        .astype("boolean"))
cust["Active"] = (cust["Active"]
                        .map({
                            1: True,
                            0: False})
                        .astype("boolean"))

cust[["FN", "Active"]].info()

<class 'pandas.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   FN      1048575 non-null  boolean
 1   Active  1048575 non-null  boolean
dtypes: boolean(2)
memory usage: 4.0 MB

In [14]:
# age의 이상치 제거
cust = cust[
    (cust["age"].notna()) &
    (cust["age"] > 0) &
    (cust["age"] < 100)
].copy()

In [15]:
# age가 80 이상인 데이터의 건수 합계
count_80 = len(cust[cust['age'] >= 80])

print(f"80세 이상 데이터 건수: {count_80}건")

80세 이상 데이터 건수: 1147건

In [16]:
total_count = len(cust)
percentage = (count_80 / total_count) * 100

print(f"80세 이상 비중: {percentage:.4f}%")

80세 이상 비중: 0.1094%

Age의 Min: 16, Max: 99 <br>
→ 80세 이상 데이터는 전체 데이터의 0.1% 수준이고, 너무 고령이라 분석에서 유의미한 인사이트를 도출하기에는 필요하지 않다고 판단하여 제거

In [17]:
# 고령 고객 제외 (80세 이상 제거)
cust = cust[cust["age"] < 80].copy()

# 확인
cust["age"].describe().round(3)

count    1047428.000
mean          36.318
std           14.233
min           16.000
25%           24.000
50%           32.000
75%           49.000
max           79.000
Name: age, dtype: float64

In [18]:
# age 연령대 파생 컬럼 생성 (10s ~)
cust["age_group"] = (cust["age"] // 10) * 10
cust["age_group"] = (
    cust["age_group"]
    .astype(int)
    .astype(str) + "s"
)
# 60대 이상 → 60s+
cust.loc[cust["age"] >= 60, "age_group"] = "60s+"

# 결측 확인
cust[["age_group"]].isna().sum()

age_group    0
dtype: int64

In [19]:
# 값 확인
cust["age_group"].value_counts().sort_index()

age_group
10s      55256
20s     409196
30s     181112
40s     157445
50s     174715
60s+     69704
Name: count, dtype: int64

## fashion_news_frequency 정리
- 결측치(1개)는 `None`으로 처리한다.
- `FN`이 False(뉴스 미구독)인데 `fashion_news_frequency`가 Regularly/Monthly 등으로 들어간 케이스가 있어 정합성을 맞춘다.
    - `FN == False`이면 `fashion_news_frequency = 'None'`으로 강제한다.

In [20]:
# 이상치 1개 제거
cust.dropna(subset=['fashion_news_frequency'])

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,age_group
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,False,False,ACTIVE,NONE,49,40s
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,False,False,ACTIVE,NONE,25,20s
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,False,False,ACTIVE,NONE,24,20s
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,False,False,ACTIVE,NONE,54,50s
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,True,True,ACTIVE,Regularly,52,50s
...,...,...,...,...,...,...,...
1048570,c88f5971612e659a4e90d6f08d9c29bdf1e4268fcf52d5...,True,True,ACTIVE,Regularly,22,20s
1048571,c88f5d0deba322a686e7928da6a7f3d2318e102d1c2cdb...,True,True,ACTIVE,Regularly,41,40s
1048572,c88f99a55b10f6dd50dd87c3ca05af4a8a6c98f3e6fbc5...,False,False,ACTIVE,NONE,38,30s
1048573,c88fa15c06519c4bdcab386fea313b226113584b729874...,True,True,ACTIVE,Regularly,54,50s
1048574,c88fa6553539a079a4d49f5b6d286d33bdc7117d0acbb9...,False,False,ACTIVE,NONE,49,40s

In [21]:
cust["fashion_news_frequency"].value_counts(dropna=False)

fashion_news_frequency
NONE         674002
Regularly    372767
Monthly         658
NaN               1
Name: count, dtype: int64

In [22]:
# fashion_news_frequency: 결측치/표기 정리
cust["fashion_news_frequency"] = (
    cust["fashion_news_frequency"]
    .fillna("None")
    .astype(str)
    .str.capitalize()
)

# FN(False)인데 빈도가 설정된 데이터 정합성 보정
# 구독 안 했으면 무조건 None
mask_fn_false = cust["FN"].fillna(False) == False
cust.loc[mask_fn_false, "fashion_news_frequency"] = "None"

# 구독(True)인데 frequency가 None이면 -> FN도 False로 통일
mask_mismatch = (cust["FN"] == True) & (cust["fashion_news_frequency"] == "None")
cust.loc[mask_mismatch, "FN"] = False

cust["fashion_news_frequency"].value_counts(dropna=False)

fashion_news_frequency
None         675694
Regularly    371084
Monthly         650
Name: count, dtype: int64

# 전처리 최종확인

In [23]:
cust.shape

(1047428, 7)

In [24]:
cust.info()

<class 'pandas.DataFrame'>
Index: 1047428 entries, 0 to 1048574
Data columns (total 7 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   customer_id             1047428 non-null  str
 1   FN                      1047428 non-null  boolean
 2   Active                  1047428 non-null  boolean
 3   club_member_status      1047428 non-null  str
 4   fashion_news_frequency  1047428 non-null  str
 5   age                     1047428 non-null  int64
 6   age_group               1047428 non-null  str
dtypes: boolean(2), int64(1), str(4)
memory usage: 51.9 MB

In [25]:
cust.duplicated().sum()

np.int64(0)

# 파일저장

In [26]:
cust.to_csv("data/cust_processed.csv", index=False, encoding="utf-8-sig")