# 분석에 필요한 파생컬럼 생성 및 테이블 조인

In [21]:
import pandas as pd
import numpy as np

art = pd.read_csv("data/art_processed.csv")
cust = pd.read_csv("data/cust_processed.csv")
total_revenue = pd.read_csv("data/total_revenue.csv")
customer_revenue = pd.read_csv("data/customer_revenue.csv")

In [22]:
art.info()

<class 'pandas.DataFrame'>
RangeIndex: 105542 entries, 0 to 105541
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   article_id     105542 non-null  int64
 1   product_code   105542 non-null  int64
 2   product_type   105542 non-null  str
 3   product_group  105542 non-null  str
 4   garment_group  105542 non-null  str
 5   index_group    105542 non-null  str
 6   index_name     105542 non-null  str
 7   section        105542 non-null  str
 8   graphic        105542 non-null  str
 9   color          105542 non-null  str
 10  tone           105542 non-null  str
 11  color_master   105542 non-null  str
 12  prod_name      105542 non-null  str
dtypes: int64(2), str(11)
memory usage: 10.5 MB

In [23]:
cust.info()

<class 'pandas.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 7 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   customer_id             1048575 non-null  str
 1   FN                      1048575 non-null  bool
 2   Active                  1048575 non-null  bool
 3   club_member_status      1048575 non-null  str
 4   fashion_news_frequency  1048575 non-null  str
 5   age                     1048575 non-null  int64
 6   age_group               1048575 non-null  str
dtypes: bool(2), int64(1), str(4)
memory usage: 42.0 MB

In [24]:
cust.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,age_group
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,False,False,ACTIVE,NONE,49,40s
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,False,False,ACTIVE,NONE,25,20s
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,False,False,ACTIVE,NONE,24,20s
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,False,False,ACTIVE,NONE,54,50s
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,True,True,ACTIVE,Regularly,52,50s

In [25]:
total_revenue.info()

<class 'pandas.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 10 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   t_dat          1048575 non-null  str
 1   customer_id    1048575 non-null  str
 2   article_id     1048575 non-null  int64
 3   revenue        1048575 non-null  float64
 4   year           1048575 non-null  int64
 5   month          1048575 non-null  int64
 6   year_month     1048575 non-null  str
 7   channel        1048575 non-null  str
 8   total_revenue  1048575 non-null  float64
 9   revenue_group  1048575 non-null  str
dtypes: float64(2), int64(3), str(5)
memory usage: 80.0 MB

In [26]:
customer_revenue.info()

<class 'pandas.DataFrame'>
RangeIndex: 458235 entries, 0 to 458234
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   customer_id    458235 non-null  str
 1   total_revenue  458235 non-null  float64
 2   revenue_group  458235 non-null  str
dtypes: float64(1), str(2)
memory usage: 10.5 MB

In [27]:
total_revenue = total_revenue.drop(columns=["t_dat"], errors="ignore")

In [28]:
# # ---------------------------------------------------------------------
# 분석용 통합 테이블 거래+고객+상품
# 볼수 있는 데이터
# ==  거래(매출, 채널, 날짜, 고객그룹) + 고객속성 + 상품속성
# ---------------------------------------------------------------------

analysis = (
    total_revenue
    .merge(cust, on="customer_id", how="left")      # 고객 속성
    .merge(art, on="article_id", how="left")        # 상품 속성
)

In [29]:
analysis.head()

,customer_id,article_id,revenue,year,month,year_month,channel,total_revenue,revenue_group,FN,...,product_group,garment_group,index_group,index_name,section,graphic,color,tone,color_master,prod_name
0,3e2b60b679e62fb49516105b975560082922011dd752ec...,698328010,0.016932,2019,11,2019-11,online,0.227186,top_20,True,...,Garment Upper body,Jersey Fancy,Divided,Divided,Divided Collection,Placement print,Dark Blue,Dark,Blue,ZEBRA CF TVP
1,89647ac2274f54c770aaa4b326e0eea09610c252381f37...,760597002,0.033881,2019,5,2019-05,online,0.067746,middle,False,...,Garment Upper body,Jersey Fancy,Ladieswear,Ladieswear,Womens Casual,Stripe,White,Light,White,BUBBLE WRAP TOP
2,2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...,488561032,0.016932,2019,5,2019-05,online,0.016932,bottom_20,True,...,Garment Lower body,Shorts,Menswear,Menswear,Contemporary Casual,Chambray,Dark Blue,Dark,Blue,Teddy jogger.
3,7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...,682771001,0.033881,2019,8,2019-08,online,0.033881,middle,False,...,Accessories,Accessories,Ladieswear,Ladies Accessories,Womens Big accessories,Solid,Black,Dark,Black,Yuki shopper
4,3b77905de8b32045f08cedb79200cdfa477e9562429a39...,742400033,0.003220,2019,8,2019-08,store,0.028627,middle,False,...,Socks & Tights,Socks and Tights,Menswear,Menswear,Men Underwear,All over pattern,White,Light,White,1pk Sportsock

In [30]:
analysis.to_csv("data/analysis.csv", index=False, encoding="utf-8-sig")

In [31]:
import pandas as pd
import matplotlib.pyplot as plt

test