# customer_hm

In [30]:
import pandas as pd
customer = pd.read_csv("../../main/h&m_dataset/customer_hm.csv")
customer.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0,0,ACTIVE,NONE,49
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0,0,ACTIVE,NONE,25
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0,0,ACTIVE,NONE,24
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0,0,ACTIVE,NONE,54
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1,1,ACTIVE,Regularly,52

In [31]:
customer.info()

<class 'pandas.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   customer_id             1048575 non-null  str
 1   FN                      1048575 non-null  int64
 2   Active                  1048575 non-null  int64
 3   club_member_status      1048575 non-null  str
 4   fashion_news_frequency  1048574 non-null  str
 5   age                     1048575 non-null  int64
dtypes: int64(3), str(3)
memory usage: 48.0 MB

In [32]:
customer.shape

(1048575, 6)

## 고객 1명당 1행으로 구성된 고객 특성 테이블
- 직접적인 매출 정보가 없기 때문에 거래 데이터와의 결합이 필요로 하다.

<br>

- 고객의 기본 특성
    - customer_id                   # 식별자
    - age                           # 고객 나이 !!!!!!!
- 연령대변 매출 과 구매패턴

<br>

- 고객상태 및 관계 정보
    - Active                        # 커뮤니케이션 가능 여부 ???
    - club_member_status            # 회원 상태 (신규 / 활성 / 탈퇴)
- 어떤 상태의 회원이 더 많이 구매하는가 (활성/비활성)
- 탈퇴 고객은 구매가 줄어드는가?

<br>

- 구독 여부
    - FN                            # 패션 뉴스 구독 여부
    - fashion_news_frequency        # 뉴스 알림 주기
- 추후 뉴스 구독 고객 vs 비구독 고객 매출 비교 가능

# transactions_hm

In [33]:
import pandas as pd
transactions = pd.read_csv("../../main/h&m_dataset/transactions_hm.csv")
transactions.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2019-11-05,3e2b60b679e62fb49516105b975560082922011dd752ec...,698328010,0.016932,2
1,2019-05-22,89647ac2274f54c770aaa4b326e0eea09610c252381f37...,760597002,0.033881,2
2,2019-05-10,2ebe392150feb60ca89caa8eff6c08b7ef1138cd6fdc71...,488561032,0.016932,2
3,2019-08-26,7b3205de4ca17a339624eb5e3086698e9984eba6b47c56...,682771001,0.033881,2
4,2019-08-10,3b77905de8b32045f08cedb79200cdfa477e9562429a39...,742400033,0.003220,1

In [34]:
transactions.info()

<class 'pandas.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   t_dat             1048575 non-null  str
 1   customer_id       1048575 non-null  str
 2   article_id        1048575 non-null  int64
 3   price             1048575 non-null  float64
 4   sales_channel_id  1048575 non-null  int64
dtypes: float64(1), int64(2), str(2)
memory usage: 40.0 MB

In [35]:
transactions.shape

(1048575, 5)

## 특정 고객이, 날짜에, 상품을, 가격을, 온/오프라인 에서 구매한 기록의 테이블 
고객 및 상품 테이블과의 결합을 통해 고객특성·상품군·채널 분석이 가능하다. 


- 매출과 상품 특성
    - customer_id                   # 구매한 고객 → customers_hm과 연결
    - article_id                    # 구매한 상품 → articles_hm과 연결

<br>

- 시간 정보 (시간 분석 가능)
    - t_dat                         # 구매날짜
    - 시즌/월/요일 별 매출과 구매패턴

<br>

- 매출 정보
    - price                         # 구매 가격
- 이게 수량이 없네..., 매출은 sum으로 계산 해야함.
    - 한 행이 한 번의 구매 기록

<br>

- 채널 정보
    - sales_channel_id              # 판매 채널 (1=오프라인, 2=온라인)
- 온라인 vs 오프라인 매출 과 구매패턴 비교

# articles_hm

In [36]:
import pandas as pd
articles = pd.read_csv("../../main/h&m_dataset/articles_hm.csv")
articles.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [37]:
articles.info()

<class 'pandas.DataFrame'>
RangeIndex: 105542 entries, 0 to 105541
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   article_id                    105542 non-null  int64
 1   product_code                  105542 non-null  int64
 2   prod_name                     105542 non-null  str
 3   product_type_no               105542 non-null  int64
 4   product_type_name             105542 non-null  str
 5   product_group_name            105542 non-null  str
 6   graphical_appearance_no       105542 non-null  int64
 7   graphical_appearance_name     105542 non-null  str
 8   colour_group_code             105542 non-null  int64
 9   colour_group_name             105542 non-null  str
 10  perceived_colour_value_id     105542 non-null  int64
 11  perceived_colour_value_name   105542 non-null  str
 12  perceived_colour_master_id    105542 non-null  int64
 13  perceived_colour_master_name  105542 non-null  str
 14  department_no                 105542 non-null  int64
 15  department_name               105542 non-null  str
 16  index_code                    105542 non-null  str
 17  index_name                    105542 non-null  str
 18  index_group_no                105542 non-null  int64
 19  index_group_name              105542 non-null  str
 20  section_no                    105542 non-null  int64
 21  section_name                  105542 non-null  str
 22  garment_group_no              105542 non-null  int64
 23  garment_group_name            105542 non-null  str
 24  detail_desc                   105126 non-null  str
dtypes: int64(11), str(14)
memory usage: 20.1 MB

In [38]:
articles.shape

(105542, 25)

## 개별 상품의 카테고리, 색상, 유형 등 상품군의 특성이 기록된 테이블

- 상품 식별자
    - article_id                    # 상품을 식별하는 ID
    - product_code                  # 상품 코드
    - prod_name                     # 상품명

<br>

- 상품 타입/제품군
    - product_type_no	            # 상품 종류 코드
    - product_type_name	            # 상품 종류 명

<br>

- 상품 유형 / 카테고리 (가장 중요)
    - garment_group_no	            # 대분류 코드
    - garment_group_name	        # 대분류 명 - (예시) Socks and Tights
    - index_code                    # 중분류 코드
    - index_name                    # 중분류 명 (예: Lingeries/Tights)
    - index_group_no                # 타겟 그룹 코드
    - index_group_name              # 타겟 그룹 명 (예: Ladieswear)
    - section_no                    # 섹션 코드
    - section_name                  # 섹션 명 (예: Womens Nightwear, Socks & Tigh)
    - department_no                 # 소분류 코드
    - department_name               # 소분류 명 (예: Tights basic)
- 상품군별 매출 분석 가능

<br>

- 색상 / 외형 정보
    - graphical_appearance_no       # 외형 정보 코드 
    - graphical_appearance_name     # 외형 스타일 - (예시) Solid
    - colour_group_code             # 상품 색상 코드
    - colour_group_name             # 상품 색상 명 - (예시) Light Beige
    - perceived_colour_value_id     # 명도 id - 명도 분류 - (예시) Dusty Light
    - perceived_colour_value_name   # 명도
    - perceived_colour_master_id    # 색상군 코드
    - perceived_colour_master_name  # 색상군 - (예시) Beige    
- 색상·타입별 매출 분포는 어떻게 되어 있는가?

<br>

- 텍스트 설명
    - detail_desc                   # 상품 상세 설명
- 버릴 데이터